executor {
    cpus = 4
    memory = '4GB'
}

params {
    /* directorios */
    services =  "./src/services"
    workflows = "./src/workflows"
    process = "./src/process"
    procces_in_workflow = "../process"
    services_in_workflow = "../services"

    /* parámetros importantes */
    path = null
    f = null
    
    fastqc = null
    spades = null

    /* Parámetros de SRA Toolkit */
    id_sra = null
    pairs = null 
    x = 500

    /* Parámetros de Trimmomatic */
    trimmo = null
    threads = 1
    phred = null
    trimlog = null
    summary = null
    illuminaAdapter = null
    leading = null
    trailing = null
    slidingwindow = null
    minlen = null

    /* Parámetros de SPAdes */
    phred_offset = ''

    /* Parámetros de Llamado de Variante */
    variantCall = null
    variantRef = null
    variantRefId = null

    /* Parámetros para Taxonomy */
    taxonomy = null
    db = null
    dbdownload = null

    /* Parámetros de AMRFinder */
    arg = null
    organism = null
    type = null

    /* Análisis filogenético */
    phylogenetic = null

    /* Anotación funcional */
    annotation = null
    annotationDb = null
}