.container-stages {
    padding: 50px;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    gap: 20px;
    
}

.item-stages {
    margin-left: 15px;
    border: 2px solid #333;
    width: fit-content;
    height: auto;
    padding: 5px;
    display: flex;
    place-items: center;
    box-shadow: 8px 10px 0px 0px rgba(0,0,0,0.75);
}

.item-stages:hover {
    background: #00d1b2;
    color: #fff;
    scale: 1.1;
}